.container {
  margin-inline: auto;
  max-width: 2520px;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;

  .categories_container {
    padding: 36px 40px;
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    align-items: center;
    gap: 62px;
    .category_container {
      scroll-snap-align: center;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      padding: 12px 0 4px;
      margin: 12px 0 10px;

      .icon {
        color: #717171;
        transition: color 200ms ease-out;
      }

      .label {
        margin-top: 8px;
        color: #717171;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 600;
        transition: color 200ms ease-out;
      }

      &:hover {
        .icon,
        .label {
          color: #222222;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          background-color: #222222;
          opacity: 0.4;
          width: 100%;
          height: 2px;
        }
      }

      &::after {
        content: "";
        width: 100%;
        opacity: 0;
        transition: opacity 200ms ease-out;
      }

      &.active {
        .icon,
        .label {
          color: #222222;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          background-color: #222222;
          opacity: 0.4;
          width: 100%;
          height: 2px;
          opacity: 1;
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
    @media screen and (min-width: 768px) {
      overflow-x: hidden;
    }
  }
  .arrow {
    display: flex;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}
