.container {
  margin-inline: auto;
  max-width: 2520px;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;

  .categories_container {
    padding: 36px 40px;
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    align-items: center;
    gap: 62px;

    &::-webkit-scrollbar {
      display: none;
    }
    @media screen and (min-width: 768px) {
      overflow-x: hidden;
    }
  }
  .arrow {
    display: flex;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}
