.overlay {
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  inset: 0;
  z-index: 50;
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);

  &:focus {
    outline: none;
  }

  .modal__content {
    position: relative;
    width: 100vw;
    padding: 0rem 2rem;
    max-width: 700px;
    height: auto;
    margin-inline: auto;
    margin: 6px 0;

    @media screen and (min-width: 768px) {
      width: 66%;
      height: auto;
    }
    @media screen and (min-width: 1024px) {
      width: 75%;
      height: auto;
    }
    @media screen and (min-width: 1280) {
      width: 40%;
      height: auto;
    }

    .modal_opened {
      transform: translateY(0%);
      opacity: 100;
      width: 100%;
      .content {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
          0 4px 6px -4px rgb(0 0 0 / 0.1);
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        outline: none;
        &:focus {
          outline: none;
        }
        @media screen and (min-width: 768px) {
          height: auto;
        }

        .header {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1.5rem;
          position: relative;
          border-bottom: 1px solid #edf2f7;

          .header_title__container {
            .header_title {
              font-size: 0.9rem;
              font-weight: 700;

              @media screen and (min-width: 500px) {
                font-size: 1.2rem;
              }
            }
          }
        }

        .body {
          padding: 2.5rem;

          @media screen and (max-width: 480px) {
            padding: 1.5rem;
          }
        }

        .button__container {
          padding: 0rem 2.5rem;
          width: 100%;
          flex-direction: row;
          align-items: center;
          gap: 1rem;

          @media screen and (max-width: 480px) {
            padding: 0rem 1.5rem;
          }
        }
      }
    }

    .modal_closed {
      width: 100%;
      transform: translateY(100%);
      opacity: 0;

      .content {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
          0 4px 6px -4px rgb(0 0 0 / 0.1);
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        outline: none;
        &:focus {
          outline: none;
        }
        @media screen and (min-width: 768px) {
          height: auto;
        }

        .header {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1.5rem;
          position: relative;
          border-bottom: 1px solid #edf2f7;

          .header_title__container {
            .header_title {
              font-size: 0.9rem;
              font-weight: 700;

              @media screen and (min-width: 500px) {
                font-size: 1.2rem;
              }
            }
          }
        }
        .body {
          padding: 2.5rem;

          @media screen and (max-width: 480px) {
            padding: 1.5rem;
          }
        }

        .button__container {
          padding: 2.5rem;
          width: 100%;
          flex-direction: row;
          align-items: center;
          gap: 1rem;

          @media screen and (max-width: 480px) {
            padding: 1.5rem;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1400px) {
    overflow: hidden;
  }
}
